h1, p, ul, li {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 100px;
  }

  h2 {
      font-family:'Courier New', Courier, monospace;
      font-size: 70px;
    }

    h4{
        font-family:'Courier New', Courier, monospace;
        font-size: 40px;
    }

    h4 > p {
        font-size: 30px;
    }
body {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgreen;
/* 30SecondsofCode code */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  
  /* Styling for header and navigation */
  header {
    background-color: darkgreen !important;
    color: #fff;
    padding: 30px;

  }

.project-indent{
    margin-left: 25%
}
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px 5px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Styling for main content */
  main {
    padding: 20px;
    background-attachment: fixed;
  }
  .about-me {
    font-size: 40px;
    background-color: green;
    color: white !important;
    border: auto 1px solid;
    border-style: groove solid;
    border-color: black solid;
    border-width: 0;
    max-width: fit-content;
    margin: auto;
  }
  #about {
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
  }
  
  #about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .project {
    display: flex !important;
    justify-content: center;
    align-items: center;
    place-items: center;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    /*w3school-flexbox-container */
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10px;    
    /* w3school-animation */
    max-width: 100%;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    border-style: groove;
    background-color: lightgreen;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* w3school-animation */
  }
  
  .project a {
    margin: 20px 20px;
    padding: 20px;
    font-size: 35px;
  }
  
  .project img {
    width: 450px;
    height: 400px;
/* W3school-Transition-property */
    transition: transform 0.5s ease-in-out
  }

  .project img:hover {
    transform: scale(1.1);
  }
  /* W3school-Transition-property */
  .project a.active img {
    width: 950px;
    height: 850px;
  }
  #contact {
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
    display: flexbox;
    flex-direction: column;
    font-size: 50px;
  }

footer {
    background-color: darkgreen !important;
    color: #fff;
    padding: 30px;
    /* 30SecondsofCode code */
    margin-top: auto;
    
}

header > nav > ul > li > a{
    padding: 200px;
/* 30SecondsofCode code */
} 
/* w3school-animation */
  @keyframes example {
    from {background-color: lightgreen;}
    to {background-color: yellow;}
  }

/* w3school-animation */

@media (max-width: 480px) {
    #about img {
        width: 150px;
        height: 150px;
    }
}
.header {
        flex: wrap;
    }